/* @media (prefers-color-scheme: dark) {
  :root {
  }
} */

/* theme animate */
::view-transition-new(root),
::view-transition-old(root) {
  @apply animate-none mix-blend-normal;
}

::view-transition-old(root) {
  @apply z-[1];
}

::view-transition-new(root) {
  @apply z-[2147483646];
}

html.dark::view-transition-old(root) {
  @apply z-[2147483646];
}

html.dark::view-transition-new(root) {
  @apply z-[1];
}

/* Breadcrumb */
.breadcrumb-transition-enter-active {
  transition:
    transform 0.4s cubic-bezier(0.76, 0, 0.24, 1),
    opacity 0.4s cubic-bezier(0.76, 0, 0.24, 1);
}

.breadcrumb-transition-leave-active {
  display: none;
}

.breadcrumb-transition-enter-from {
  opacity: 0;
  transform: translateX(30px) skewX(-30deg);
}
