@import 'vxe-pc-ui/es/style.css';
@import 'vxe-table/lib/style.css';

html[data-vxe-ui-theme='light'] {
  --vxe-ui-font-primary-color: #bb3127;
  --vxe-ui-font-color: #202020;
}

html[data-vxe-ui-theme='dark'] {
  --vxe-ui-font-primary-color: #bb3127;
  --vxe-ui-font-color: #e4e4e4;
}

:root {
  --vxe-ui-font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif !important;
}

.vxe-body--row {
  font-size: 14px;
}

.vxe-cell--sort [class*='vxe-table-icon-'] {
  font-size: 1em !important;
}
